* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./song";
@import "./player";
@import "./library";
@import "./nav";
h1,
h2,
h3 {
  color: black;
}
h3,
h4 {
  font-weight: 400;
  color: gray;
}
body {
  // font-family: "Roboto", sans-serif;

  font-family: "Space Mono", monospace;
}

.App {
  transition: all 0.5s eae;
}
.library-active {
  margin-left: 30%;
}
